@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,500&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    width: 100%;
    background: #F62A4B;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background: url(/assets/laptop.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.banner-area h2{
    padding-top: 8%;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #0B022D;
}
.contact-area{
    width: 100%;
    height: 1500px;
    background: #fff;
    position: relative;
    top: 450px;

}
.contact-area h2{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-size: 40px;
    padding-top: 30px;
    margin: 0;
}
.contact-area p{
    padding: 2% 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
}


