body{
    margin: 0;
    padding: 0;
    background: gray;
}
section{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 1200px;
    background: #000;
    box-shadow: 0 25px 30px rgba(0,0,0,0.5);
    display: flex;
}
.container{
    width: calc(50% - 50px);
    height: 100%;
    background: #000;
    box-sizing: border-box;
    color: #fff;
    padding: 20px 30px;
  
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}
p{
    letter-spacing: 2px;
}
.imagebox{
    width: calc(50% + 50px);
    height: 100%;
    background: #f00;
    box-sizing: border-box;
    border-left: 100px solid #000;  
    border-bottom: 400px solid transparent;
}
img{
    border: 5px solid #fff;
    border-radius: 10px;
    margin-top: 50px;
}
.center{
    margin-top: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
    transform: rotate(-40deg) skewY(25deg);
    transition: .5s;
}
.box:hover{
    top: 20px;
    box-shadow: none;
}
.box:before{
    content: '';
    position: absolute;
    top: -20px;
    left: 15px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
    transition: .5s;
}
.box:hover:before{
    top: 0;
    left: 0;
    box-shadow: none;
}
.shadow{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
    transform: rotate(-40deg) skewY(25deg);
    transition: .5s;

}
/*.box img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: ;
    transform: rotate(-40deg) skewY(25deg);*/
}



